body {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

.hero h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link {
    color: Aquamarine;
    font-size: 16px
}

.sections h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.sections p {
    font-size: 21px;
    color: Grey;
}

.footer .copyright {
    color: Grey;
    font-size: 21px;
    text-align: right;
}
